/* ENTER */
.heroitem-enter{
    opacity: 0;
    transform: scale(500%) translateX(-500px) rotate(90deg);

}
.heroitem-enter-active{
    opacity: 1;
    transform: scale(100%)   translateX(0);
    transition: all 300ms;
}
.heroitem-enter-done{
 border-radius: 10px;
}
/* EXIT */



.heroitem-exit{
    opacity: 1;

}
.heroitem-exit-active{
    transform: rotate(-70deg) translateY(1000px);
    opacity: 0;
    transition: all 300ms;


}

.heroitem-exit-done{

}

